TZ=America/Sao_Paulo
NODE_ENV=production

OPENAI_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=

OPENCLAW_GATEWAY_TOKEN=__GATEWAY_TOKEN__
OPENCLAW_DEFAULT_ACCOUNT_ID=__ACCOUNT_ID__
OPENCLAW_CONTAINER_NAME=__CONTAINER_NAME__
